@use "../../../styles/mixins.scss" as mixins;

.leaders {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 65.8%;

  @include mixins.respond(laptop) {
    margin-top: 15rem;
  }

  @include mixins.respond(tablet) {
    margin-top: 12rem;
    grid-template-columns: 1fr;
    row-gap: 4.9rem;
  }

  @include mixins.respond(tablet-sm) {
    margin-top: 10rem;
    padding: 0 8.5%;

    grid-template-columns: 1fr;
  }

  & h3 {
    width: 20rem;

    @include mixins.respond(laptop-md) {
      font-size: 6.2rem;
    }

    @include mixins.respond(phone-lg) {
      font-size: 4.8rem;
      line-height: 5.2rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 6.3rem;

    @include mixins.respond(phone-lg) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
