@use "../../../styles/mixins.scss" as mixins;

.leader-card {
  display: flex;
  flex-direction: column;

  &__image {
    width: 100%;
    height: auto;
    position: relative;

    & img {
      width: 100%;
    }
  }

  &__overlay {
    width: 100%;
    height: 30.28rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;

    @include mixins.respond(laptop) {
      height: 22.258rem;
    }

    @include mixins.respond(tablet) {
      height: 25.406rem;
    }

    @include mixins.respond(phone-lg) {
      height: 31.494rem;
    }
  }

  & h4 {
    margin-top: 1.4rem;

    @include mixins.respond(phone-lg) {
      margin-top: 0;
    }
  }
}
