@use "../../../styles/mixins.scss" as mixins;

.sliders {
  width: 100%;
  height: 72rem;
  padding: 18.6rem 37.6rem 17.9rem 19rem;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include mixins.respond(laptop) {
    padding: 18.6rem 12rem 17.9rem 12rem;
  }

  @include mixins.respond(tablet) {
    padding: 18.6rem 5.8rem 17.9rem 5.8rem;
  }

  @include mixins.respond(tablet-sm) {
    padding: 11.6rem 8.5% 17.9rem 8.5%;
    height: 60rem;
  }

  @include mixins.respond(phone-lg) {
    padding: 8rem 8.5% 11rem 8.5%;
    height: 56rem;
  }

  & h2 {
    color: white;

    @include mixins.respond(tablet-md) {
      font-size: 7.6rem;
      line-height: 6.8rem;
    }

    @include mixins.respond(tablet-sm) {
      font-size: 6.6rem;
      line-height: 6rem;
    }

    @include mixins.respond(phone-lg) {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
  }

  & p {
    margin-top: 1rem;
  }

  & a {
    margin-top: 4rem;

    &.active {
      background-color: var(--very-dark-blue);
      color: white;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    left: -8rem;

    display: flex;

    @include mixins.respond(tablet-sm) {
      left: 50%;
      transform: translateX(-50%);
    }

    button {
      &.active {
        background-color: var(--very-dark-blue);
        color: white;
      }
    }
  }
}
