@use "../../../styles/mixins.scss" as mixins;

.heritage {
  margin-top: 20rem;

  display: grid;
  grid-template-columns: 0.83fr 1fr;
  column-gap: 12.4rem;

  @include mixins.respond(laptop) {
    margin-top: 14rem;
    column-gap: 8rem;
  }

  @include mixins.respond(tablet) {
    grid-template-columns: 1fr;
  }

  @include mixins.respond(tablet-sm) {
    padding: 0 8.5%;
    margin-top: 7.6rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    @include mixins.respond(phone-lg) {
      gap: 4rem;
    }

    & hr {
      border: 0;
      height: 1px;
      background-color: #ccc;
      width: 6.5rem;
    }

    & h3 {
      width: 24rem;

      @include mixins.respond(phone-lg) {
        font-size: 4.8rem;
        line-height: 5.2rem;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  & img {
    width: 100%;

    @include mixins.respond(laptop) {
      height: 63.6rem;
      object-fit: cover;
    }

    @include mixins.respond(tablet) {
      display: none;
    }
  }
}
