@use "../../../../styles/mixins.scss" as mixins;

.desktop-menu {
  @include mixins.respond(tablet-sm) {
    display: none;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 5rem;
  }

  & li {
    color: var(--medium-grey);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: var(--very-dark-blue);
    }
  }

  & li a.active {
    color: var(--very-dark-blue);
  }
}
